
  /* table {
    table-layout: fixed;
    width: 60vw;
    border-collapse: collapse;

 
 } */

@keyframes slideIn {
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

@keyframes slideOut {
  from{
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100px)
  }
}

.run-anim-in {
  opacity: 0;
  animation: slideIn 0.5s ease-out 1.25s forwards;
}

.run-anim-out {
  opacity: 1;
  animation: slideOut 0.5s ease-in forwards;
}

table {
    
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    table-layout: fixed;
    width: 75%;
    margin-left: 12.5%;
    /* position: fixed; */

}
 .table-container {
    left: 0px;
    /* display: grid; */
    padding-top: 5vh;
    /* max-width: 100%; */
    overflow-x: auto;
    /* margin: auto; */
    width: 100vw;
    justify-content: center;
    padding: 0 -2em;
    transform: translate(0, 0); 
    /* margin: 0 -auto; */
    
  }




  th, td {
    padding: 0.25em;
  }
  
  th[role=columnheader]:not(.no-sort) {
      cursor: pointer;
  }
  
  th[role=columnheader]:not(.no-sort):after {
      content: '';
      float: right;
      margin-top: 7px;
    margin-left: 5px;
      border-width: 0 4px 4px;
      border-style: solid;
      border-color: black transparent;
      visibility: hidden;
      opacity: 0;
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
  }
  
  th[aria-sort=ascending]:not(.no-sort):after {
      border-bottom: none;
      border-width: 4px 4px 0;
  }
  
  th[aria-sort]:not(.no-sort):after {
      visibility: visible;
      opacity: 0.4;
  }
  
  th[role=columnheader]:not(.no-sort):hover:after {
      visibility: visible;
      opacity: 1;
  }


 
  
  button {
    cursor: pointer;
    background: var(--backsplash-color);
    border: none;
  }

  button:active {
    background: var(--accent-color-yellow);
  }

  .start-button {
    background: #fbe19bff;
  }